#centerpage
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px solid darkblue; 
    border-radius: 16px;
    overflow-x: hidden;
}

body
{
    font-family: Arial, Verdana, sans-serif;
}

header.banner
{
    background-color: rgb(188, 204, 220);
}

.logo
{
    font-size: xx-large;
    font-weight: bold;
    height: 60px;
}

a:link,
a:visited
{
    text-decoration: none;  
    color: red;
}

table
{
    width: 300px;
}

#main
{
    overflow: hidden;
    background-color: #def;
}

article 
{
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 80%; 
    background-color: #fed;
    padding-left: 20px;
}

#links
{
    float: right;
}

#menu
{
    padding-left: 10px;
    float: left;
    position: fixed;
}

aside {
    background-color: rgb(222, 238, 254);
    padding-right: 40px;
}


tr > th
{
    text-align: left;
    text-transform: uppercase;
}

tr.odd
{
    background-color: rgb(247, 126, 21);
}

th, td
{
    padding-left: 1em;
}

tr:hover {
    background-color: red;
}